body {
  background-color: #265373;
  color: #fff;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}



@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;                                                                                                                 
  border-radius: $radius;
}

@mixin shadow($color: #333333) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: 0px 1px 2px $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}
 

.tweet_this {
  padding: 10px;
  background-color: #4491c1;
  margin-bottom: 10px;
  @include rounded-corners(5px);
}

.tweet {
  background-image: -webkit-linear-gradient(top, #346C9D 35%, #446CCD 77%);
  background-image: -moz-linear-gradient(top, #346C9D 35%, #446CCD 77%);
  background-image: linear-gradient(top, #346C9D 35%, #446CCD 77%);
  padding: 10 px;
  min-height: 80px;
  margin-bottom: 10px;
  @include rounded-corners(5px);
}

.when {
  float:right;
  margin-right: 10px;
}

.avatar {
  height: 60px;  
  width: 60px;
  margin: 5px;
  float: left;
}

.avatar img {
  width: 50px;
  height: 50px;
  @include rounded-corners(5px);

}

.tweet-photo {
  height: 60px;  
  width: 60px;
  margin: 5px;
}

.tweet-photo img {
  width: 50px;
  height: 50px;
  @include rounded-corners(5px);
}

.name {
  position: relative;
  left: 10px;  
  font-weight: bold;
}

.message {
  position: relative;
  overflow: hidden;
}

.admin {
}

.friend {
  position: relative;
  left: 10px;  
  font-weight: bold;
  min-height: 70px;
}


.photo-title {
  font-weight: bold;
}

.photo-description {
  font-style: italic;
  margin:10px;
}

.photo-image {
  width: 90%;
}

.photo-recent {
  position: relative;
  margin: 10px;
  height: 130px;
  width: 130px;
}

.photo-recent img {
  position:relative;
  top:0px;
  left:0px;
  max-height:160px;
  @include rounded-corners(5px);
}

.photo-thumb {
  height: 120px;
  width: 120px;  

}

.photo-recent .avatar {
  position:relative; 
  left: -10px; 
  top: -45px; 
  float:none; 
  z-index:1;
}

.panel {
  height:320px;
  margin-bottom: 20px;
}

.row-fluid [class*="span"]:nth-child(4n+1) { margin-left: 0 }